<!DOCTYPE html>
<html>
<head>
  <title>Lebowski</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://www.gstatic.com/firebasejs/11.0.2/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/11.0.2/firebase-auth-compat.js"></script>

  <!-- https://favicon.io -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">

  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <style>
    .title {
      font-size: 4rem;

      font-family: "Abril Fatface", serif;
      font-weight: normal;
    }

    #the_dude {
      will-change: transform;
    }

    #the_dude:hover {
      animation: wiggle 0.4s linear infinite;
    }

    @keyframes wiggle {
      0% { transform: rotate(0deg); }
      25% { transform: rotate(-15deg); }
      50% { transform: rotate(0deg); }
      75% { transform: rotate(10deg); }
      100% { transform: rotate(0deg); }
    }

    .movies {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0 !important;
    }

    .movies > li {
      flex: 1 1 44%;
      margin-left: 2em;
    }

    .card {
      border: 1px solid transparent;
    }

    .card:hover {
      border-left: 1px solid #959595;
    }

    .card .card-header {
      box-shadow: none;
    }

    .card.opened {
      border: 1px solid #959595;
    }

    a.has-text-grey:hover {
      color: #7957d5 !important;
    }

    .subscriptionSplit {
      margin-top: 2em;
    }

    .subscribed-star {
      visibility: hidden;
      pointer-events: none;
    }

    .card:hover .subscribed-star,
    .card.opened .subscribed-star,
    .subscribed-star:has(input[type=checkbox]:checked) {
      visibility: visible;
      pointer-events: auto;
      margin-right: 0;
    }

    .checkbox.subscribed-star .check {
      display: none;
    }

    .checkbox.subscribed-star .control-label {
      padding-left: 0;
    }

    .subscribed-star:hover {
       text-shadow: 0 0 2px #aaa;
    }
  </style>
</head>
<body>

  <div id="app">

    <section class="section">

      <div class="container is-max-desktop is-flex is-align-items-start is-flex-wrap-wrap-reverse">
        <div class="is-flex is-align-items-center">
          <img src="assets/the_dude.png" id="the_dude" />
          <div>
            <h1 class="title ml-5">Lebowski</h1>
            <h2 class="subtitle ml-5">Where's the movies, Lebowski?</h2>
          </div>
        </div>

        <div class="ml-auto" style="margin-top: -20px; margin-bottom: 20px;">
          <div v-if="!user"><b-button type="is-primary" @click="login">Sign In</button></div>
          <div v-if="user">
            <b-dropdown
              position="is-bottom-left">
              <template #trigger="{ active }">
                <b-button
                  :label="user.displayName"
                  icon-right="menu-down"
                  outlined />
              </template>

              <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
            </b-dropdown>
          </div>
        </div>

      </div>

    </section>

    <section class="section pt-4">
      <div class="container is-max-desktop">
        <div class="has-text-right pb-2" style="margin-top: -1.5rem;" v-if="lastUpdate">
          <a href="updates.html" class="has-text-grey">Last Updated {{timeFormat(lastUpdate)}}</a>
        </div>
        <b-collapse
          class="card"
          animation="slide"
          v-for="(provider, providerIndex) in list.stream"
          :key="providerKey(provider)"
          :class="{ opened: isOpen == providerKey(provider), subscribed: isSubscribed(providerKey(provider)), subscriptionSplit: providerIndex == subscriptionSplitCount }"
          :open="isOpen == providerKey(provider)"
          @open="isOpen = providerKey(provider)">
          <template #trigger="props">
            <div
              class="card-header"
              role="button">
              <p class="card-header-title">
                <span class="mr-1">{{provider.provider}}</span>
                <b-tooltip
                  v-if="provider.group"
                  :label="provider.group.join(' / ')"
                  position="is-right"
                  type="is-light">
                  <span class="tag is-rounded is-light mr-1" @click.stop><b-icon icon="creation" size="is-small"></b-icon></span>
                </b-tooltip>
                <span class="tag is-rounded">
                  <span>{{provider.movies.filter(m => m["other_providers"].length == 0).length}}</span>
                  <span class="ml-1 has-text-weight-normal has-text-grey-light">|</span>
                  <span class="ml-1 has-text-weight-normal has-text-grey">{{provider.movies.length}}</span>
                </span>
                <span class="ml-auto" v-if="isSubscribed(providerKey(provider))" @click.stop="togglePicker(providerIndex)">
                  <b-datepicker :ref="`datepicker-${providerIndex}`" v-model="subscriptionRenewal[providerKey(provider)]" :mobile-native="false" append-to-body>
                    <template #trigger="props">
                      <span class="tag is-rounded has-text-weight-normal">
                        <template v-if="subscriptionRenewal[providerKey(provider)]">{{dateFormat(subscriptionRenewal[providerKey(provider)])}}</template>
                        <b-icon v-else icon='calendar' size="is-small" type="is-grey"></b-icon>
                      </span>
                    </template>

                    <b-button
                      label="Clear"
                      type="is-light"
                      icon-left="close"
                      @click="subscriptionRenewal[providerKey(provider)] = null; togglePicker(providerIndex, false)" />
                  </b-datepicker>
                </span>
              </p>
              <a class="card-header-icon p-0" @click.stop>
                <b-checkbox :native-value="providerKey(provider)" v-model="subscribed" :disabled="!user" class="subscribed-star">
                  <b-icon :icon="isSubscribed(providerKey(provider)) ? 'star' : 'star-outline'" type="is-info-dark"></b-icon>
                </b-checkbox>
              </a>
              <a class="card-header-icon">
                <b-icon icon="dots-vertical" size="is-small"></b-icon>
              </a>
            </div>
          </template>
          <div class="card-content content">
            <ul class="mt-0 movies">
              <li v-for="movie in provider.movies">
                <a :href="movie.link" target="_blank">
                  {{movie.title}}
                  <span class="has-text-grey has-text-weight-light is-size-7">({{movie.year}})</span>
                </a>
                <b-tooltip
                  v-if="movie.other_providers.length != 0"
                  :label="movie.other_providers.join(' / ')"
                  position="is-right"
                  type="is-light">
                  <span class="tag is-rounded">{{movie.other_providers.length}}</span>
                </b-tooltip>
              </li>
            </ul>
          </div>
        </b-collapse>
        <b-collapse
          class="card"
          animation="slide"
          v-for="type in otherTypes"
          v-if="list[type]"
          :key="type"
          :class="{ opened: isOpen == type }"
          :open="isOpen == type"
          @open="isOpen = type">
          <template #trigger="props">
            <div
              class="card-header"
              role="button">
              <p class="card-header-title has-text-grey-light">
                <span class="mr-1 is-capitalized">{{type}}</span>
                <span class="tag is-rounded mr-1 has-text-grey-light">{{list[type].length}}</span>
              </p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'menu-up' : 'menu-down'"></b-icon>
              </a>
            </div>
          </template>
          <div class="card-content content">
            <ul class="mt-0 movies">
              <li v-for="movie in list[type]">
                <a :href="movie.link" target="_blank">
                  {{movie.title}}
                  <span class="has-text-grey has-text-weight-light is-size-7">({{movie.year}})</span>
                </a>
              </li>
            </ul>
          </div>
        </b-collapse>
      </div>
    </section>

    <footer class="footer">
      <div class="container is-max-desktop has-text-centered">
        <a href="https://github.com/shanesmith/lebowski" class="is-flex is-align-items-center is-justify-content-center">
          <b-icon icon="github" class="mr-2 has-text-black"></b-icon>
          https://github.com/shanesmith/lebowski
        </a>
        <img class="mt-5" src="https://github.com/shanesmith/lebowski/actions/workflows/page.yml/badge.svg" />
      </div>
    </footer>

  </div>

  <script src="https://unpkg.com/vue@2"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-app.js"
    import { getAuth, GoogleAuthProvider, signInWithPopup } from 'https://www.gstatic.com/firebasejs/11.0.2/firebase-auth.js'
    import { collection, doc, getDoc, setDoc, updateDoc, getFirestore } from 'https://www.gstatic.com/firebasejs/11.0.2/firebase-firestore.js'

    initializeApp({
      apiKey: "AIzaSyBMMF8xaGjf3_XEAKgtb7ROvuwEWrugmZU",
      authDomain: "lebowski-6b59e.firebaseapp.com",
      projectId: "lebowski-6b59e",
      storageBucket: "lebowski-6b59e.firebasestorage.app",
      messagingSenderId: "628236044167",
      appId: "1:628236044167:web:aa3465fd334d5c7e8af522"
    })

    const auth = getAuth()

    const provider = new GoogleAuthProvider()

    const db = getFirestore()

    window.app = new Vue({
      el: '#app',
      data: {
        list: {},
        isOpen: "",
        otherTypes: ["rent", "buy", "unavailable"],
        lastUpdate: null,
        user: auth.currentUser,
        subscribed: [],
        subscriptionSplitCount: null,
        subscriptionRenewal: {},
      },
      methods: {
        togglePicker(index, active) {
          this.$refs[`datepicker-${index}`][0].toggle(active)
        },
        timeFormat(time) {
          return new Date(time).toLocaleString(undefined, {
            month: "short",
            day: "numeric",
            hour: "numeric",
            minute: "numeric",
          })
        },
        dateFormat(time) {
          return new Date(time).toLocaleString(undefined, {
            month: "short",
            day: "numeric",
          })
        },
        providerKey(provider) {
          return `${provider.provider}${provider.group === null ? '' : '-group'}`
        },
        logout() {
          auth.signOut()
        },
        login() {
          signInWithPopup(auth, provider).then(result => this.user = result.user)
        },
        userPrefsRef() {
          return doc(db, 'users', this.user.uid)
        },
        isSubscribed(provider) {
          return this.subscribed.includes(provider)
        },
        sortStreamProviders() {
          if (!this.list.stream) {
            return
          }

          this.list = {
            ...this.list,
            stream: this.list.stream.sort((a, b) => {
              var aScore = a.movies.length
              var bScore = b.movies.length

              if (this.isSubscribed(this.providerKey(a))) {
                aScore += 100
              }
              if (this.isSubscribed(this.providerKey(b))) {
                bScore += 100
              }

              return bScore - aScore
            })
          }
        }
      },
      watch: {
        subscribed(value) {
          if (!this.user) {
            return
          }
          updateDoc(this.userPrefsRef(), {
            subscribed: value,
          })
        },
        subscriptionRenewal: {
          deep: true,
          handler(value) {
            if (!this.user) {
              return
            }
            updateDoc(this.userPrefsRef(), {
              subscriptionRenewal: value,
            })
          }
        }
      },
      created: function() {
        fetch("./data/providerlist.json")
          .then(response => response.json())
          .then(json => this.list = json)
          .then(() => this.sortStreamProviders())

        fetch("./data/updates-watchlist.json")
          .then(response => response.json())
          .then(json => this.lastUpdate = json[0].time)

        auth.onAuthStateChanged(user => {
          this.user = user

          if (!user) {
            this.subscribed = []
            this.subscriptionRenewal = {}
            this.subscriptionSplitCount = 0
            this.sortStreamProviders()
            return
          }

          getDoc(this.userPrefsRef())
            .then(docSnapshot => {
               if (!docSnapshot.exists()) {
                setDoc(this.userPrefsRef(), {})
                return
               }
               const data = docSnapshot.data()
               this.subscribed = data.subscribed
               const subscriptionRenewal = {}
               for (var p in data.subscriptionRenewal) {
                 subscriptionRenewal[p] = data.subscriptionRenewal[p]?.toDate() || null
               }
               this.subscriptionRenewal = subscriptionRenewal
               this.subscriptionSplitCount = this.subscribed.length
               this.sortStreamProviders()
            })
        })
      }
    })
  </script>
</body>
</html>
