<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
  <style>
    .title {
      font-size: 4rem;

      font-family: "Abril Fatface", serif;
      font-weight: normal;
    }

    #the_dude {
      will-change: transform;
    }

    #the_dude:hover {
      animation: wiggle 0.4s linear infinite;
    }

    @keyframes wiggle {
      0% { transform: rotate(0deg); }
      25% { transform: rotate(-15deg); }
      50% { transform: rotate(0deg); }
      75% { transform: rotate(10deg); }
      100% { transform: rotate(0deg); }
    }

    .movies {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0 !important;
    }

    .movies > li {
      flex: 1 1 44%;
      margin-left: 2em;
    }

    .card {
      border: 1px solid transparent;
    }

    .card:hover {
      border-left: 1px solid #959595;
    }

    .card .card-header {
      box-shadow: none;
    }

    .card.opened {
      border: 1px solid #959595;
    }

    a.has-text-grey:hover {
      color: #7957d5 !important;
    }
  </style>
</head>
<body>

  <div id="app">

    <section class="section">
      <div class="container is-max-desktop is-flex is-align-items-center">
        <img src="the_dude.png" id="the_dude" />
        <div>
          <h1 class="title ml-5">Lebowski</h1>
          <h2 class="subtitle ml-5">Where's the movies, Lebowski?</h2>
        </div>
      </div>
    </section>

    <section class="section pt-4">
      <div class="container is-max-desktop">
        <div class="has-text-right pb-2" style="margin-top: -1.5rem;" v-if="lastUpdate">
          <a href="updates.html" class="has-text-grey">Last Updated {{timeFormat(lastUpdate)}}</a>
        </div>
        <b-collapse
          class="card"
          animation="slide"
          v-for="provider in list.stream"
          :key="providerKey(provider)"
          :class="{ opened: isOpen == providerKey(provider) }"
          :open="isOpen == providerKey(provider)"
          @open="isOpen = providerKey(provider)">
          <template #trigger="props">
            <div
              class="card-header"
              role="button">
              <p class="card-header-title">
                <span class="mr-1">{{provider.provider}}</span>
                <b-tooltip
                  v-if="provider.group"
                  :label="provider.group.join(' / ')"
                  position="is-right"
                  type="is-light">
                  <span class="tag is-rounded is-light mr-1" @click="stopProp"><b-icon icon="creation" size="is-small"></b-icon></span>
                </b-tooltip>
                <span class="tag is-rounded">
                  <span>{{provider.movies.filter(m => m["other_providers"].length == 0).length}}</span>
                  <span class="ml-1 has-text-weight-normal has-text-grey-light">|</span>
                  <span class="ml-1 has-text-weight-normal has-text-grey">{{provider.movies.length}}</span>
                </span>
              </p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'menu-up' : 'menu-down'"></b-icon>
              </a>
            </div>
          </template>
          <div class="card-content content">
            <ul class="mt-0 movies">
              <li v-for="movie in provider.movies">
                <a :href="movie.link" target="_blank">
                  {{movie.title}}
                  <span class="has-text-grey has-text-weight-light is-size-7">({{movie.year}})</span>
                </a>
                <b-tooltip
                  v-if="movie.other_providers.length != 0"
                  :label="movie.other_providers.join(' / ')"
                  position="is-right"
                  type="is-light">
                  <span class="tag is-rounded">{{movie.other_providers.length}}</span>
                </b-tooltip>
              </li>
            </ul>
          </div>
        </b-collapse>
        <b-collapse
          class="card"
          animation="slide"
          v-for="type in otherTypes"
          v-if="list[type]"
          :key="type"
          :class="{ opened: isOpen == type }"
          :open="isOpen == type"
          @open="isOpen = type">
          <template #trigger="props">
            <div
              class="card-header"
              role="button">
              <p class="card-header-title has-text-grey-light">
                <span class="mr-1 is-capitalized">{{type}}</span>
                <span class="tag is-rounded mr-1 has-text-grey-light">{{list[type].length}}</span>
              </p>
              <a class="card-header-icon">
                <b-icon :icon="props.open ? 'menu-up' : 'menu-down'"></b-icon>
              </a>
            </div>
          </template>
          <div class="card-content content">
            <ul class="mt-0 movies">
              <li v-for="movie in list[type]">
                <a :href="movie.link" target="_blank">{{movie.title}} ({{movie.year}})</a>
              </li>
            </ul>
          </div>
        </b-collapse>
      </div>
    </section>

    <footer class="footer">
      <div class="container is-max-desktop">
        <a href="https://github.com/shanesmith/lebowski" class="is-flex is-align-items-center is-justify-content-center">
          <b-icon icon="github" class="mr-2 has-text-black"></b-icon>
          https://github.com/shanesmith/lebowski
        </a>
      </div>
    </footer>

  </div>

  <script src="https://unpkg.com/vue@2"></script>
  <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        list: {},
        isOpen: "",
        otherTypes: ["rent", "buy", "unavailable"],
        lastUpdate: null,
      },
      methods: {
        timeFormat(time) {
          return new Date(time).toLocaleString(undefined, {
            month: "short",
            day: "numeric",
            hour: "numeric",
            minute: "numeric",
          })
        },
        stopProp(event) {
          event.stopPropagation()
        },
        providerKey(provider) {
          return `${provider.provider}${provider.group == null ? '' : '-group'}`
        }
      },
      created: function() {
        fetch("./data/providerlist.json")
          .then(response => response.json())
          .then(json => this.list = json)

        fetch("./data/updates-watchlist.json")
          .then(response => response.json())
          .then(json => this.lastUpdate = json[0].time)
      }
    })
  </script>
</body>
</html>
